<!-- ======= nav Desktop ======= -->
    <nav class="nav">  
        <div class="nav__logo">
            <a href="index.html#home" class="nav__logo-link">
                <img src="./img/logo.png" alt="Logo" class="nav__logo-img">

                
            </a>
        </div>

        <ul class="nav__links">
            <li class="nav__links-item"><a href="index.html#home" class="nav__links-link">Home</a></li>
            <li class="nav__links-item"><a href="index.html#about" class="nav__links-link">About us</a></li>
            <li class="nav__links-item"><a href="index.html#services" class="nav__links-link">Services</a></li>
            <li class="nav__links-item"><a href="index.html#reviews" class="nav__links-link">Reviews</a></li>
            <li class="nav__links-item"><a href="index.html#contact" class="nav__links-link">Contact us</a></li>
            <li class="nav__links-item"><a href="prices.html" class="nav__links-link">Prices</a></li>
        </ul>

        <div class="nav__buttons">
            <a href="index.html#contact" class="nav__button">
                Financing

                <i class="bi bi-arrow-right"></i>
            </a>

            <a href="index.html#contact" class="nav__button">
                Get a FREE Estimate!

                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
        
        <!-- <a href="#contacto" class="nav__button" id="ver-planes">¡Contactanos!</a> -->
    </nav> 

    <!-- ======= nav Mobile ======= -->
    <div class="navM">
        <div class="navM__data">
            <a class="navM__logo" href="index.html#home">
                <img class="navM__logo-img" src="./img/logo.png" alt="logo">
            </a>

            <div class="navM__toggle" id="navM-toggle">
                <i class="fa-solid fa-bars navM__burger"></i>
                <i class="fa-solid fa-x navM__close"></i>
            </div>
        </div>

        <!-- ======= NAV MENU ======= -->
        <nav class="navM__menu" id="navM-menu">
            <ul class="navM__list">
                <li class="navM__item">
                    <a href="index.html#home" class="navM__link">Home</a>
                </li>

                <li class="navM__item">
                    <a href="index.html#about" class="navM__link">About us</a>
                </li>

                <li class="navM__item">
                    <a href="index.html#services" class="navM__link">Services</a>
                </li>

                <li class="navM__item">
                    <a href="index.html#reviews" class="navM__link">Reviews</a>
                </li>

                <li class="navM__item">
                    <a href="index.html#contact" class="navM__link">Contac us</a>
                </li>

                <li class="navM__item">
                    <a href="prices.html" class="navM__link">Prices</a>
                </li>

                <div class="navM__buttons">
                    <a href="index.html#contact" class="navM__button navM__link">
                        Financing
    
                        <i class="bi bi-arrow-right"></i>
                    </a>
    
                    <a href="index.html#contact" class="navM__button navM__link">
                        Get a FREE Estimate!
    
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>


                <li class="navM__item">
                    <a href="https://www.facebook.com/profile.php?id=100084471521194" target="_blank" class="navM__link">
                        <i class="fa-brands fa-facebook navM__icon"></i>
                    </a>

                    <a href="https://www.instagram.com/warrior.hvac/" target="_blank" class="navM__link">
                        <i class="fa-brands fa-instagram navM__icon"></i>
                    </a>
                </li>
            </ul>

            
        </nav>
    </div>