@use 'base/mixins' as m;
@use 'base/variables' as v;

.contact {
    // JPG fallback
    background: linear-gradient(
        to right,
        rgba(1, 40, 64, 0.70),
        rgba(1, 40, 64, 0.60)
        ),
        url('../img/contact.jpg');
    background-size: cover;
    background-position: center;

    // WebP
    @supports (background-image: url('../img/contact.webp')) {
        background: linear-gradient(
            to right,
            rgba(1, 40, 64, 0.70),
            rgba(1, 40, 64, 0.60)
        ),
        url('../img/contact.webp');
        background-size: cover;
        background-position: center;
    }

    // AVIF (prioridad)
    @supports (background-image: url('../img/contact.avif')) {
        background: linear-gradient(
            to right,
            rgba(1, 40, 64, 0.70),
            rgba(1, 40, 64, 0.60)
        ),
        url('../img/contact.avif');
        background-size: cover;
        background-position: center;
    }
    
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &__heading {
        color: v.$white;
    }

    &__subtitle {
        color: v.$white;

        &--bold {
            font-weight: 600;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 2.5rem;
        width: 100%;
        max-width: 110rem; // ajusta si quieres más ancho
        align-items: stretch; // <- clave: misma altura

        @include m.tablet {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include m.phone {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        background-color: v.$gray-1;
        border-radius: 2rem;
        box-shadow: v.$box-shadow;
        padding: 2rem;

        width: 100%;
        max-width: none; // para asegurar que tome todo el ancho del grid
        
        display: flex;
        flex-direction: column;
        gap: .2rem;

        // Uniformidad visual
        min-height: 18rem; // ajusta (ej. 17–22rem)

        align-items: center;
        justify-content: center;
    }

    &__text {
        text-align: left;

        &--bold {
            font-weight: 600;
        }
    }

    &__redes-sociales-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__redes-sociales-link {
        font-size: 4rem;
        
        & i {
            transition: all .3s;
        }

        & i:hover {
            color: v.$yellow-2;
            transform: scale(1.1);
        }
    }
}